/** {
	box-sizing: border-box;
}
*/
body {
	background-color : #32244c; 
	color : white;
	margin: 0;
}

.connexion a:link, .connexion a:visited { /*bouton de connexion*/
	border-style : solid;
	border-color : #e91e63;
	background-color : #e91e63;
	padding : 1px 30px;
	color : white;
	font-size : 25px;
	text-align : center;
	text-decoration : none;
	margin : 10px;
}

.connexion a:hover, .connexion a:active {
	color: black;
	text-decoration: underline;
}

.connexion {
	margin-top: 20px;
	margin-left : 10px;
	float: left;
}

.element_connexion {
	margin : 10px;
	text-align : center;
}

.titre_article1 {
	font-size : 60px;
}

.article1 {
	font-size : 40px;
	float : right;
	width : 50%;
	border : double 7px white;
	border-radius : 100px;
	padding : 10px;
	text-align : center;
}

span.capteur {
	display : inline-block;
	padding : 15px;
	margin-top : 400px;
	width : 33.3%;	
}

nav {
	border: 2px black solid;
	background-color: #884EA0;
	background-attachment: fixed;
	top: 0;
	padding-left: 1em;
	padding-right: 1em;

}
.nav-list {
	padding: 1rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;

}

.nav-item a {
	color: white;
	text-transform: uppercase;
	letter-spacing: 1,3px;
	font-size: 25px;
	text-decoration: none;
}

.breadcrumb ul {
    display:inline-flex;
}

.breadcrumb li::before {
    content: "> ";
}
    
.breadcrumb li:first-child::before {
    content: " ";
}

.breadcrumb ul{
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.breadcrumb ul :link{
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    text-decoration: none;
}

.breadcrumb ul :hover{
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:crimson;
}

section {
	display: block;
}

      footer {
        padding: 10px 10px;
        background: #32244c;
        color: white;
        flex-shrink: 0;
        flex-direction: column;
      }
      .contenu-footer {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-size: 20p;
        padding: 5px 0 5px;
		color: white;
      }

	  .contenu-footer a{
		text-decoration: none;
		color: rgb(255, 255, 255);
		}

      .bloc {
        width: 25%;
        margin: 0 30px;
      }

      /* contact */
      .footer-rejoindreFit h3,
      .footer-AideInfo h3,
      .footer-InfiniteMeasures h3,
      .footer-Activités h3 {
        font-size: 25px;
        padding-bottom: 20px;
      }

      .footer-rejoindreFit p {
        padding: 5px 0;
      }

      /* media */
      .liste-media img {
        width: 40px;
        margin: 10px 10px
      }

.container {
	margin: auto;
	text-align: center;
}

aside {
	float: right;
}

.donnees-env {
	float: left;
}

.perf-ami {
	top: 0;
	right: 0;
}

.container {
	margin: auto;
	text-align: center;
}

.slider {
    width: calc(500px * 3);
    animation: glisse 20s infinite;
}

.slide {
    float: left;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-500px);
    }
    43% {
        transform: translateX(-500px);
    }
    66% {
        transform: translateX(-1000px);
    }
    76% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}

