@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");

body {
	background-color : #19061a; 
	color : white;
	margin: 0;
}

.bouton_connexion a:link, .bouton_connexion a:visited { /*bouton de connexion*/
	border-style : solid;
	border-color : #e91e63;
	background-color : #e91e63;
	padding : 1px 100px;
	color : white;
	font-size : 25px;
	text-align : center;
	text-decoration : none;
}

.bouton_connexion a:hover, .bouton_connexion a:active {
	background-color : red;
	color: black;
	text-decoration: underline;
}

.bouton_inscription a:link, .bouton_inscription a:visited{
	border-style : solid;
	border-color : white;
	background-color : white;
	text-decoration : none;
	color : black;
	padding : 1px 118px;
}

.bouton_inscription a:hover, .bouton_inscription a:active{
	background-color : grey;
	border-color : grey;
	color : white;
}

.connexion {
	margin: 30px;
	text-align : center;
}

.element_connexion{
	margin:20px;
}

.barre_connexion{
	margin : 20px;
	width : 300px;
	height : 20px;
}

.titre_article1 {
	font-size : 60px;
}

.article1 {
	font-size : 40px;
	float : right;
	width : 50%;
	border : double 7px white;
	border-radius : 100px;
	padding : 10px;
	text-align : center;
}

.capteur {
	display : flex;
	flex-direction : row;
	justify-content : space-between;
	margin-top : 500px;	
}
  

nav {
	border: 2px black solid;
	background-color: #32244c;
	background-attachment: fixed;
	top: 0;
	padding-left: 1em;
	padding-right: 1em;

}
.nav-list {
	padding: 1rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
    height : 40px;

}

.nav-item a {
	color: white;
	text-transform: uppercase;
	letter-spacing: 1,3px;
	font-size: 25px;
	text-decoration: none;
}

.breadcrumb ul {
    display:inline-flex;
}

.breadcrumb li::before {
    content: " -> ";
}
    
.breadcrumb li:first-child::before {
    content: " ";
}

.breadcrumb ul{
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.breadcrumb ul :link, .breadcrumb ul :visited{
	color: white;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.breadcrumb ul :hover{
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#e91e63;
}

section {
	display: block;
}

footer {
  padding: 100px 20px;
  background: #19061a;
  color: white;
  flex-shrink: 0;
  flex-direction: column;
}
.contenu-footer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 20p;
  padding: 50px 0 100px
}

.contenu-footer a{
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.general {
    background: #32244c;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
}
.element{
padding-right: 20px;
}

.bloc {
  width: 25%;
  margin: 0 30px;
}

/* contact */
.footer-rejoindreFit h3,
.footer-AideInfo h3,
.footer-InfiniteMeasures h3,
.footer-Activités h3 {
  font-size: 25px;
  padding-bottom: 20px;
}

.footer-rejoindreFit p {
  padding: 5px 0;
}

/* media */
.liste-media img {
  width: 40px;
  margin: 10px 10px
}

.container {
	text-align : center;
}

.barre_inscription{
	margin : 10px;
	width : 300px;
	height : 25px;
}

.slider {
	width: 500px;
	overflow: hidden;
	margin: 150px auto;
}

.slides {
    width: calc(500px * 3);
    animation: glisse 20s infinite;
}

.slide {
    float: left;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-500px);
    }
    43% {
        transform: translateX(-500px);
    }
    66% {
        transform: translateX(-1000px);
    }
    76% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}


.imageal1{
    display: block;
    margin-top: -2px;
    margin-right: 0px;
    margin-left: 0px;
}
  
#imageduhaut{
    height: 400px;
    width: 100%;
}

#aludique{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 3.9rem;
    color: white;
    word-spacing: 16px;
    text-align: center;
    font-family: "Squada One", cursive;
    background: rgb(207, 24, 33);
    width: 530px;
    height: 72px;
    border-radius: 8px;
    position: absolute;
    top: 472px;
    left: 50%;
    transform: translateX(-50%);
}


.texteal1{
    margin-top: 260px;
    margin-left: 47%;
    margin-right: 20px;
    font-size: 1.2rem;
    z-index: 99;
}

.texteal2{
    margin-top: 260px;
    margin-left: 20px;
    margin-right: 47%;
    font-size: 1.2rem;
    z-index: 99;
}


.videoal1{
    position: absolute;
    margin-top: -1180px;
    margin-left: 10px;
    height: 290px;
    width: 654px;
    border: 15px solid black;
    overflow: hidden;
  }

#vidal1 {
    position: float;
    margin-top: -10px;
    height: 380px;
    width: 680px;
    border: 13px solid rgb(156, 39, 39);
    box-sizing: border-box;
    }

.videoal2{
    position: absolute;
    margin-top: -850px;
    margin-left: 53%;
    height: 290px;
    width: 654px;
    border: 15px solid black;
    overflow: hidden;
}

#vidal2 {
    position: float;
    margin-top: -10px;
    height: 380px;
    width: 680px;
    border: 13px solid rgb(156, 39, 39);
    box-sizing: border-box;
}

.videoal3{
    position: absolute;
    margin-top: -530px;
    margin-left: 10px;
    height: 290px;
    width: 654px;
    border: 15px solid black;
    overflow: hidden;
  }

#vidal3 {
    position: float;
    margin-top: -10px;
    height: 380px;
    width: 680px;
    border: 13px solid rgb(156, 39, 39);
    box-sizing: border-box;
    }

.videoal4{
    position: absolute;
    margin-top: -200px;
    margin-left: 53%;
    height: 290px;
    width: 654px;
    border: 15px solid black;
    overflow: hidden;
}
    
#vidal4 {
    position: float;
    margin-top: -10px;
    height: 380px;
    width: 680px;
    border: 13px solid rgb(156, 39, 39);
    box-sizing: border-box;
}
